VITE_SUPABASE_URL=https://bmuthjyibkrcqyygjcxe.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_f55Le0iO_SVa36YRE88xqg_98uf2U5V
NEXT_PUBLIC_SUPABASE_URL=https://bmuthjyibkrcqyygjcxe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_f55Le0iO_SVa36YRE88xqg_98uf2U5V
# Opsional: Service role key untuk admin server proxy jika RLS belum di-setup di Supabase
SUPABASE_SERVICE_ROLE_KEY=
