# Supabase Configuration
VITE_SUPABASE_URL=https://bmuthjyibkrcqyygjcxe.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_f55Le0iO_SVa36YRE88xqg_98uf2U5V
SUPABASE_URL=https://bmuthjyibkrcqyygjcxe.supabase.co
SUPABASE_ANON_KEY=sb_publishable_f55Le0iO_SVa36YRE88xqg_98uf2U5V
NEXT_PUBLIC_SUPABASE_URL=https://bmuthjyibkrcqyygjcxe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_f55Le0iO_SVa36YRE88xqg_98uf2U5V
SUPABASE_SERVICE_ROLE_KEY=

# Google Cloud Console OAuth Credentials
GOOGLE_CLIENT_ID=972402807266-sad43opnml70gchfsggti4i1icdlaqh9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
VITE_GOOGLE_CLIENT_ID=972402807266-sad43opnml70gchfsggti4i1icdlaqh9.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=972402807266-sad43opnml70gchfsggti4i1icdlaqh9.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=
